body {
  background-color: #1A3854;
  color: #D5D8DC;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 6%;
  margin-right: 15%;
  margin-left: 15%;
  line-height: 1.25;
  cursor: none
}

.title{
  background-image: url("https://i.pinimg.com/564x/77/75/2f/77752f92fb5efa8ca9b53a21e9dc1be5.jpg");
  text-align: center;
  font-size 110%; 
  border: 4px solid black;
  outline: #D5D8DC solid 11px;
}

.about{
  text-transform: uppercase;
  text-align: center;
}

.exp-header{ 
  text-align: center;
  text-transform: uppercase;
  font-size: 100%;
}

.skill-header{
  text-align: center;
  text-transform: uppercase;
}

*{
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;  
}

.left {
  width: 30%; 
}

.right {
  width: 70%;
  border-left: 3px dotted black;
}
